/**
 * // assets/css/tbex-settings
 * @package Toolbar Extras - Assets
 * @since 1.0.0
 * @since 1.3.0 Added borders between settings sections.
 * @since 1.4.0 General improvements; plus, added Add-On related styles.
 * @since 1.4.2 Added styles for Add-On tab; further general improvements.
 */

.settings_page_toolbar-extras #wpbody-content .wrap {
	width: 70vw;
}

.tbex-icon,
.tbex-label,
.nav-tab,
.nav-tab-active,
.tbex-settings-section,
.button.dashicons-picker,
.dashicon-picker-list .dashicons {
	color: #7e49c2;
}
.dark-mode .tbex-label,
.dark-mode .nav-tab,
.dark-mode .nav-tab-active,
.dark-mode .tbex-settings-section,
.dark-mode .button.dashicons-picker {
	color: #c56cd7;
}

.nav-tab:hover,
.button.dashicons-picker:hover,
.dashicon-picker-list .dashicons:hover {
	color: #c56cd7;
}

.tbex-icon:before {
	display: inline-block;
	margin-right: 3px;
	/* top: 5px !important; */
	vertical-align: baseline;
}

.tbex-version {
	/* color: #c7c7c7; */
	font-size: 90%;
	margin-left: 10px;
	opacity: .5;
}
.dark-mode .tbex-version {
	opacity: .6;
}

.tbex-intro {
	margin-bottom: 40px;
	margin-top: 40px;
}

.nav-tab-wrapper a.nav-tab:before {
	line-height: 1.2;
	margin-right: 3px;
}

.nav-tab-wrapper a.nav-tab {
	margin-right: 5px;
	padding-right: 13px;
}

.tbex-settings-page h2:empty {
	display: none;
}

.tbex-settings-section,
.tbex-as-section {
	margin-top: 20px;
	padding-top: 10px;
}

.tbex-sub-setting th {
	margin-left: 30px;
	display: inline-block;
}

.tbex-settingsfields-block {
	border-top: 1px dotted #999;
}
.dark-mode .tbex-settingsfields-block {
	border-top: 1px dotted #666;
}


/* Border between settings sections */

.tbex-settings-section {
	border-top: 2px solid #c7c7c7 !important;
	padding-top: 25px;
}
.dark-mode .tbex-settings-section {
	border-top: 2px solid #666 !important;
}

.tbex-settings-section.first {
	border-top: none !important;
	padding-top: 10px;
}


/* Add-On specific */

.tbex-addon-header {
	margin-top: 40px;
	padding-left: 100px;
}

.tbex-addon-title {
	color: #c56cd7;
	font-size: 145%;
}

.tbex-addon-header.dashicons-before:before {
	clear: left;
	color: #c56cd7;  /* #c7c7c7; */
	display: inline;
	float: left;
	font-size: 450%;
	margin-left: -80px;
	opacity: .5;
}

.tbexmwp-component-block {
	color: #c56cd7;  /* #aaa; */
	display: block;
	font-size: 18px;
	font-style: italic;
	font-weight: 600;
	margin-bottom: 10px;
	/* margin-left: -230px; */
	margin-top: -100px;
	opacity: .7;
	overflow: hidden;
	padding: 10px 10px 10px 0;
}
.dark-mode .tbexmwp-component-block {
	opacity: .5;
}

.tbexmwp-component-block .dashicons-before:before {
	margin-top: 2px;
}


/* Settings form table general */

.form-table tr:hover {
	background-color: #f0ebe8;
	-moz-box-shadow: 1px 1px 5px #ddd;
	-webkit-box-shadow: 1px 1px 5px #ddd;
	-khtml-box-shadow: 1px 1px 5px #ddd;
	box-shadow: 1px 1px 5px #ddd;
}
.dark-mode .form-table tr:hover {
	background-color: #21262f !important;  /* #22272f */
	-moz-box-shadow: 1px 1px 4px #111921;
	-webkit-box-shadow: 1px 1px 4px #111921;
	-khtml-box-shadow: 1px 1px 4px #111921;
	box-shadow: 1px 1px 4px #111921;
}

.form-table th {
	padding-left: 20px;
	width: 265px;
}

.form-table .tbexmwp-component td {
	vertical-align: bottom;
}

.tbex-setting-field-block-top {
	border-top: 2px #ddd dotted;
}
.dark-mode .tbex-setting-field-block-top {
	border-top: 2px #404C58 dotted;
}

.tbex-setting-field-block-top th,
.tbex-setting-field-first th {
	padding-top: 60px;  /* 40px; */
	vertical-align: top;
}

.tbex-setting-field-block-top td {
	padding-top: 35px;
}

.tbex-setting-field-block-bottom td {
	padding-bottom: 40px;
}

.settings_page_toolbar-extras .submit {
	margin-left: 20px;
	margin-top: 40px;
}

.settings_page_toolbar-extras .submit .button-primary {
	font-size: 17px;
	padding: 4px 20px;
	height: auto;
}

.dashicons-picker .dashicons-before:before {
	margin-top: 4px;
}

.tbex-setting-field-block-top th,
.tbex-setting-field-first th {
	margin-top: 60px;  /* 50px; */
	display: inline-block;
}

/* Settings General: Main/Fallback logic */
.tbex-main.is-main-inactive,
.is-fallback.is-main-active {
	display: none;
}


.bg-local-base {
	display: inline-block;
	width: 28px;
	height: 22px;
}

.tbex-color-item {
	display: inline-block;
	float: left;
	margin-bottom: 5px;
	margin-right: 30px;
}

.tbex-color-item .tbex-space-top {
	border-bottom: 3px solid transparent;
}

.tbex-color-item .tbex-space-top:hover {
	border-bottom: 3px solid #ddd;
}

.tbex-align-middle {
	vertical-align: middle !important;
}

.tbex-desc-newcontent:before {
	vertical-align: bottom;
}


/* Tab: About & Support */

.tbex-about-support {
	display: block;
	overflow: hidden;
}

.tbex-as-column {
	float: left;
	margin-bottom: 20px;
	margin-top: 40px;
	padding: 0 40px 20px;
	width: 41%;
}

.tbex-as-column.first-as {
	border-right: 1px solid #c7c7c7;  /* #ccc; */
}

.tbex-as-column ul {
	list-style-type: square;
	margin-left: 15px;
}

.rtl .tbex-as-column ul {
	margin-right: 15px;
}

.tbex-as-section {
	display: block;
}

.tbex-inner {
	margin-top: 30px;
}

.tbex-quote-icon:before {
	clear: left;
	color: #c7c7c7;
	float: left;
	font-size: 44px;
	margin-left: -20px;
	padding-right: 40px;
	padding-bottom: 20px;
}

.tbex-quote {
	display: inline-block;
	font-size: 110%;
}

.tbex-author {
	margin-top: 15px;
}

.tbex-author-image,
.tbex-author-meta {
	display: inline-block;
	float: right;
}

.tbex-author-image {
	margin-left: 15px;
}

.tbex-author-meta {
	text-align: right;
}

.tbex-cite.cite-first {
	margin-top: 15px;
}

.tbex-cite {
	display: block;
}

.tbex-copyright {
	float: right;
}

.rtl .tbex-copyright {
	margin-right: 80px;
}

.tbex-heart-icon:before {
	clear: right;
	color: #c7c7c7;
	display: table;
	float: right;
	font-size: 96px;
	/* margin-right: 60px; */
	padding-bottom: 20px;
	padding-left: 20px;
}
.dark-mode .tbex-heart-icon:before {
	opacity: .6;
}

.tbex-heart-icon:hover:before,
.second-as:hover .tbex-heart-icon:before {
	color: #ff0000;
}

/* .tbex-donate {
	font-size: 22px !important;
	padding: 5px 20px !important;
	height: 40px !important;
} */

.second-as .button-hero {
	font-weight: 700;
}

.tbex-button {
	margin: 5px 23px 20px !important;
}

.tbex-as-column .tbex-button.dashicons-before:before {
	margin-right: 4px;
	margin-top: 3px;
}

.tbex-review {
	color: orange;
	font-size: 125%;
}

.tbex-share {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
}

.tbex-share .dashicons-before:before {
	font-size: 30px;
	padding-right: 10px;
	vertical-align: text-bottom;
}

.rtl .tbex-share .dashicons-before:before {
	padding-left: 10px;
}

.tbex-smiley:before {
	clear: left;
	float: left;
	font-size: 100px;
	padding: 10px 10px 40px;
	width: 140px;
	height: 120px;
}

.tbex-videos:before {
	color: #ff0000;
	padding-right: 3px;
	padding-top: 3px;
}

.tbex-space-top {
	display: block;
	margin-top: 7px;
}


/** Add-On Blocks (Listing) */

.tbex-addons-block,
.tbex-addons-block-info,
.tbex-addons-block .wp-list-table.plugin-install {
	display: inline-block;
	margin-top: 10px;
	width: 100%;
}

.tbex-addons-block .tbex-settings-section.first {
	margin-top: 0;
	padding-top: 0;
}

.tbex-addons-block .plugin-card-top {
	min-height: 145px;  /* 185px; */
}

.tbex-addons-preface {
	margin-top: 20px;
}

.tbex-addons-block .plugin-card .desc,
.tbex-addons-block .plugin-card .name {
	margin-right: auto;
}

.tbex-addons-block .plugin-card .dashicons {
	margin-top: 3.3px;
}

.tbex-addons-block .plugin-card-top a,
.tbex-addons-block .plugin-card-bottom a.tbex-card-button {
	color: #7e49c2;  /* #8952e9; */
}

.tbex-addons-block .plugin-card-top a:hover,
.tbex-addons-block .plugin-card-bottom a:hover.tbex-card-button {
	color: #c56cd7;
}

.tbex-addons-block .tbex-card-active {
	color: #0a0;
}

.tbex-addons-block .plugin-card:hover {
	background: #ffffd9;
	border: 1px solid #bbb;
}

.tbex-addons-block .plugin-card-bottom {
	background: #f2f2f2;
}

.tbex-addons-block .plugin-card:hover > .plugin-card-bottom {
	background: #e1e1e1;
}

.tbex-addons-block .plugin-action-buttons div small {
	margin-left: 10px;
}

.dark-mode .tbex-addons-block .plugin-card:hover {
	background: #404C58 !important;
	border-color: #090909 !important;
}

.dark-mode .tbex-addons-block .plugin-card:hover > .plugin-card-bottom {
	background: #111921 !important;
}

.dark-mode .tbex-addons-block .plugin-action-buttons div small {
	color: #bbc8d4;
}

.tbex-no-addons {
	color: #999;
	font-size: 17px;
	font-weight: 300;
	padding: 20px 40px;
}


/** Plugin Settings - Conditionals */

.tbex-setting-conditional.plugin-inactive {
	display: none;
}

.tbex-setting-conditional.plugin-elementor,
.tbex-setting-conditional.plugin-elementor-240,
.tbex-setting-conditional.plugin-elementor-inspector,
.tbex-setting-conditional.plugin-stylepress,
.tbex-setting-conditional.plugin-yoastseo,
.tbex-setting-conditional.plugin-seopress,
.tbex-setting-conditional.plugin-gravityforms,
.tbex-setting-conditional.plugin-smartslider3,
.tbex-setting-conditional.plugin-nextgen,
.tbex-setting-conditional.plugin-itsec,
.tbex-setting-conditional.plugin-wprocket,
.tbex-setting-conditional.plugin-autoptimize,
.tbex-setting-conditional.plugin-swift,
.tbex-setting-conditional.plugin-woocommerce,
.tbex-setting-conditional.plugin-aioseo,
.tbex-setting-conditional.plugin-updraftplus,
.tbex-setting-conditional.plugin-members,
.tbex-setting-conditional.plugin-cobalt-apps,
.tbex-setting-conditional.plugin-custom-css-pro,
.tbex-setting-conditional.plugin-easy-updates-manager,
.tbex-setting-conditional.plugin-admin-page-spider,
.tbex-setting-conditional.plugin-mstba,
.tbex-setting-conditional.plugin-blockeditor,
.tbex-setting-conditional.oxygen-display-customizer,
.tbex-setting-conditional.plugin-oxygen-theme-enabler,
.tbex-setting-conditional.plugin-give-test-mode,
.tbex-setting-conditional.blocks-admin-menu {
	display: table-row;
}

.tbex-setting-conditional.plugin-blockeditor-preface {
	display: block;
}

.tbex-remove-settings-section-title,
.tbex-remove-settings-section-description,
.tbex-remove-settings-field {
	display: none !important;
}


/* Media Queries
------------------------------------------------------------ */

@media only screen and (max-width: 1500px) {

	.settings_page_toolbar-extras #wpbody-content .wrap {
		width: 75vw;
	}
	
}

@media only screen and (max-width: 1193px) {

	.tbex-as-column {
		width: 38%;
	}
	
}

@media only screen and (max-width: 960px) {

	.settings_page_toolbar-extras #wpbody-content .wrap {
		width: 85vw;
	}
	
}

@media only screen and (max-width: 790px) {

	.tbex-as-column {
		float: none;
		width: 90%;  /* 84vw; */
	}

	.tbex-as-column.second-as {
		margin-top: -20px;
	}

	.tbex-as-column.first-as {
		border-right: none;
	}

	.tbex-quote {
		margin-right: 30px;  /* 80px; */
	}

	.tbex-heart-icon:before {
		margin-right: 20px;
	}
	
}

@media only screen and (max-width: 782px) {

	.tbex-as-column {
		padding: 0 20px 20px;
	}

	.form-table th,
	.form-table td {
		padding-left: 10px;
	}

	.tbex-setting-field-block-top td {
		padding-top: 5px;
	}

	.form-table .tbexmwp-component td {
		vertical-align: inherit;
	}
	
}
